include ./catalogItemMixin.pug

- var n = 0;
- var thumbUrl = "";
while n < products.length
  .row
    .col-lg-6.my-1
      if products[n].images.length > 0
        - thumbUrl = "/files/" + products[n].images[0].thumb
      +product(products[n].carModelText, products[n].name, products[n].description, products[n].createdText, thumbUrl, "/catalog/" + products[n]._id)
    if ++n < products.length
      .col-lg-6.my-1
        if products[n].images.length > 0
          - thumbUrl = "/files/" + products[n].images[0].thumb
        else
          - thumbUrl = ""
        +product(products[n].carModelText, products[n].name, products[n].description, products[n].createdText, thumbUrl, "/catalog/" + products[n]._id)
        - n++
        