.row
  .col-lg-6.my-1
    .card.flex-md-row.box-shadow.h-100
      img.img-fluid.flex-auto(src="http://placehold.it/120" alt="")
      .card-body.d-flex.flex-column.align-items-start
        strong.d-inline-block.text-primary World
        h3
          a.text-dark(href="#") Featured post
        .text-muted Nov 12
        a(href="#") Continue reading

  .col-lg-6.my-1
    .card
      .row.no-gutters
        .col-sm-auto
          img.img-fluid.w-100(src="//placehold.it/160x120" alt="")
        .col.d-flex.flex-column
          .card-body.flex-grow-1.px-2.py-1
            strong.card-title.text-primary Title
            p.card-text Description
            //-
             a.btn.btn-primary(href="#") BUTTON
          .card-footer.flex-shrink-0.px-2.py-1
            small.text-muted Footer stating cats are CUTE little animals
