footer.bg-primary
  .container.text-white
    .row
      .col-sm-6.my-2
        h2 Адрес и телефоны
        p 
          | 246015, г.Гомель, ул. Лепешинского, 2д
          br 
          img(src="/images/car-brands/Volkswagen-logo.png", alt="Volkswagen", height="36", width="48")
          | &nbsp;+375(29)693-09-36
          br 
          img(src="/images/car-brands/Volkswagen-logo.png", alt="Volkswagen", height="36", width="48")
          | &nbsp;+375(29)633-02-28
          br
          img(src="/images/car-brands/Audi-logo.png", alt="Auidi", height="36", width="48")
          img(src="/images/car-brands/Volkswagen-logo.png", alt="Volkswagen", height="36", width="48")
          | &nbsp;+375(29)682-58-02
          br 
          img(src="/images/car-brands/Mercedes-Benz-logo.png", alt="Mercedes-Benz", height="36", width="48")
          img(src="/images/car-brands/Volkswagen-logo.png", alt="Volkswagen", height="36", width="48")
          | &nbsp;+375(29)693-02-28
        p
          a(href="#") Написать письмо
      .col-sm-6.my-2
        p qwerty
