footer.bg-primary
  .container.text-white
    .row
      .col.my-2
        h1 Адрес и телефоны
        p 
          | 246015, г.Гомель, ул. Лепешинского, 2д
          br 
          | +375(29)693-09-36
          br
          | +375(29)682-58-02
          br 
          | +375(29)693-02-28
          br 
          | +375(29)633-02-28
        p
          a(href="#") Написать письмо
      .col.my-2
        p qwerty
