nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container
    a.navbar-brand.p-0(href="/")
      img.mr-3(src="/images/logo.svg")
      span.align-middle Автохлам
        span.badge.badge-danger.align-top.ml-2 .BY
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        -var activeNavItem = 'active'
        //-
          li.nav-item(class = (activeView === 'index' ? activeNavItem : ''))
          a.nav-link(href="/") Home
            span.sr-only (current)
        li.nav-item(class = (activeView === 'catalog' ? activeNavItem : ''))
          a.nav-link(href="/catalog") Каталог
        li.nav-item(class = (activeView === 'service' ? activeNavItem : ''))
          a.nav-link(href="/service") Сервис
        li.nav-item(class = (activeView === 'contacts' ? activeNavItem : ''))
          a.nav-link(href="/contacts") Контакты
        
        if user
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= user.name
            .dropdown-menu(aria-labelledby="dropdown01")
              if user.role === 'admin'
                a.dropdown-item(href="/admin/users") Управление пользователями
              a.dropdown-item(href="/admin/catalog") Ведение каталога
              a.dropdown-item(href="/admin/logout") Выход
        else
          li.nav-item(class = (activeView === 'login' ? activeNavItem : ''))
            a.nav-link(href="/admin/login") Вход
