//- Добавление и удаление фото продукта
h4.d-flex.justify-content-between.align-items-center.mb-3
  span.text-muted Фото
  label.btn.btn-primary(for="imageFileSelector") Добавить
    input#imageFileSelector(type="file", accept="image/*", hidden, style="display:none", onchange="addImage(this.files)")

#imageList.ul.list-group  
  //- li.list-group-item.d-flex.justify-content-between.lh-condensed
  li.list-group-item
    .container
      if editProduct && editProduct.images
        each image, index in editProduct.images
          span(id = image._id)
            .row
              .col  
                img.thumb(src = '/files/' + image.thumb)
              .col
                button.btn.btn-danger(type = "button", onClick = "deleteStoredImage('" + image._id + "')")
                  span.material-icons.white delete
      div#image-place  

script.
  var thumbIdPrefix = 'thumb-';
  var imageIdPrefix = 'image-';

  //- удаляет сохраненое в БД изображение
  function deleteStoredImage(imageId) {
    console.log(imageId);
    var image = document.getElementById(imageId);
    if(image != null) {
      image.remove();
    }
    
    var deletedImage = document.createElement('input');
    deletedImage.type = 'hidden';
    deletedImage.name = 'deletedImages'
    deletedImage.value = imageId;
    document.getElementById('input-form').append(deletedImage);
  }

  //- удаляет не сохраненое в БД изображение
  function deleteImage(fileName) {
    var image = document.getElementById(imageIdPrefix + fileName);
    if(image != null) {
      image.remove();
    }

    var thumb = document.getElementById(thumbIdPrefix + fileName);
    if(thumb != null) {
      thumb.remove();
    }
  }
  
  function addImage(files) {
    for (var i = 0, f; f = files[i]; i++) {
      if (!f.type.match('image.*')) continue;
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.id = thumbIdPrefix + theFile.name;
          span.innerHTML = [
            '<div class="row">',
              '<div class="col">',
                '<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>',
              '</div>',
              '<div class="col">',
                '<button class="btn btn-danger" type="button" onClick="deleteImage(\'' + theFile.name + '\')">',
                  '<span class="material-icons white">delete</span>',
                '</button>',
              '</div>',
            '</div>'
            ].join('');
          document.getElementById('image-place').append(span);
          
          var inputImage = document.createElement('input');
          inputImage.id = imageIdPrefix + theFile.name;
          inputImage.type = 'hidden';
          inputImage.name = 'images'
          inputImage.value = e.target.result;
          document.getElementById('input-form').append(inputImage);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }