//- Добавление и удаление фото продукта
h4.d-flex.justify-content-between.align-items-center.mb-3
  span.text-muted Фото
  label.btn.btn-primary(for="imageFileSelector") Добавить
    input#imageFileSelector(type="file", accept="image/*", hidden, style="display:none", onchange="addImage(this.files)")

#imageList.ul.list-group.mb-3  
  li.list-group-item.d-flex.justify-content-between.lh-condensed
    .container
      each image, index in editProduct.images
        .row
          span
            img.thumb(src = '/files/' + image)
            input(type = 'hidden', name = 'images', value = '')
      .row#image-place  

script.
  function deleteImage(fileName) {
    var thumb = document.createElement('thumb_' + fileName);
    if(thumb != null) {
      thumb.remove();
    }
    var image = document.createElement('image_' + fileName);
    if(image != null) {
      image.remove();
    }
  }
  
  function addImage(files) {
    for (var i = 0, f; f = files[i]; i++) {
      if (!f.type.match('image.*')) continue;
      var reader = new FileReader();
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.id = 'thumb_' + theFile.name;
          span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('image-place').append(span);
          var inputImage = document.createElement('input');
          inputImage.id = 'image_' + theFile.name;
          inputImage.type = 'hidden';
          inputImage.name = 'images'
          //inputImage.id = theFile.name;
          inputImage.value = e.target.result;
          
          document.getElementById('input-form').append(inputImage);
          //document.createElement('span')('').append(inputImage);
          //document.getElementById('image-place').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }