extends layout

block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item.active #{title}
  .container  
    h1 Каталог
    each brand, index in brands
      p
        img(src=brand.file, alt=brand.name, height="72" width="96")
        span= brand.name

  include includes/footer.pug

