//- Каталог
extends layout

block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item.active #{title}

  .container.mb-2
    include includes/catalogItems.pug

  include includes/footer.pug
