extends layout

block content

  //- Header with Background Image
  header.business-header
    section.container.text-white
      .row
        .col-lg-12
          h1.display-1.text-center.mt-4 Запчасти для вашего автомобиля
          p.text-center
            button.btn.btn-primary.btn-lg(type="button") Large button

  section.container.mt-3.mb-1
    .row
      .col-md-4
        p.contact
          span.material-icons home
          span.ml-1 г. Гомель, ул. Лепешинского, 2Д
      .col-md-4
        p.contact
          span.material-icons schedule
          span.ml-1 Пн-Вс, с 9:00 до 18:00
      .col-md-4
        p.contact
          span.material-icons call
          span.ml-1 +375(29)693-09-36

  section.container
    .jumbotron
      h2.display-3 Добро пожаловать!
      p.lead Мы поможем Вам подобрать необходимые запчасти к автомобилю. Если вы ищете б/у запчасти для автомобилей - Audi, Volkswagen, Mercedes-Benz, Fiat, приглашаем Вас именно к нам. По поводу любой б/у запчасти - двигателей, трансмиссии, ходовой части и т.д., Вы можете звонить нам! Мы также покупаем автомашины на разборку.
      //-
       a.btn.btn-primary.btn-sm(href="#") Call to action!

  section.container.text-center
    .row
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/engine.svg" alt="" width="128" height="128")
        h2 Автозапчасти
        p Интернет-магазин автозапчастей, аксессуаров и автопринадлежностей. Широкий спектр автомобильных запасных частей и аксессуаров, и развитие интернет-технологий дает возможность максимально упростить и ускорить процесс.
        .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/tools.svg" alt="" width="128" height="128")
        h2 Разборка
        p Запчасти как оригинальные так и контрактные, очень большой выбор подержанных запчастей с авторазборки. Мы найдем и доставим необходимую запчасть на любой автомобиль в любой населенный пункт.
        .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/lift.svg" alt="" width="128" height="128")
        h2 Сервис
        p Полный спектр услуг по обслуживанию и ремонту автомобилей всех марок в одном месте. В своей работе делаем упор на качество.
        .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »

      //-
        .col-lg-4
        a.btn.btn-primary(href="#" role="button") Подробнее »
        .col-lg-4
        a.btn.btn-primary(href="#" role="button") Подробнее »
        .col-lg-4
        a.btn.btn-primary(href="#" role="button") Подробнее »

  //-
   section.container
    h1= title
    p Welcome to #{title}
    p Добро пожаловать в #{title}

  section.container.my-4
    h2 Каталог

  section.container.my-4
    h2.display-4 Карта проезда
    include includes/map.pug
  
  include includes/footer.pug

