extends layout

block content

  //- Header with Background Image
  header.business-header
    section.container.text-white
      .row
        .col-lg-12
          h1.display-1.text-center.mt-4 Запчасти для вашего автомобиля
          p.text-center
            button.btn.btn-primary.btn-lg(type="button") Large button

  section.container.mt-3.mb-1
    .row
      .col-md-4
        p.contact
          span.material-icons home
          span.ml-1 г. Гомель, ул. Лепешинского, 2Д
      .col-md-4
        p.contact
          span.material-icons schedule
          span.ml-1 Пн-Вс, с 9:00 до 18:00
      .col-md-4
        p.contact
          span.material-icons call
          span.ml-1 +375(29)693-09-36

  section.container
    .jumbotron
      h2.display-3 Добро пожаловать!
      p.lead Мы поможем Вам подобрать необходимые запчасти к автомобилю. Если Вы ищете б/у запчасти для автомобилей - Audi, Volkswagen, Mercedes-Benz, Fiat, приглашаем Вас именно к нам. У нас Вы найдете кузовные бу запчасти, детали двигателя, подвески, тормозной и топливной систем, систем охлаждения и зажигания, и других узлов. Мы также покупаем автомашины на разборку. Звоните нам! 
      //-
       a.btn.btn-primary.btn-sm(href="#") Call to action!

  section.container.text-center
    .row
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/tools.svg" alt="" width="128" height="128")
        h2 Разборка
        p Специалисты, осуществляющие авторазбор, отсеивают запчасти, выработавшие свой ресурс. Таким образом, запчасти, отвечают всем стандартам качества и прослужат вам так долго, что вы не раз с радостью подумаете об этом выгодном для своего бюджета решении.
        //-
         .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/engine.svg" alt="" width="128" height="128")
        h2 Автозапчасти
        p Большой выбор б/у запчастей для автомобилей Audi, Volkswagen, Mercedes-Benz и Fiat. У нас Вы найдете необходимую запчасть на свой автомобиль.
        //-
         .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/lift.svg" alt="" width="128" height="128")
        h2 Установка
        p Установка запчастей на автомобиль. В своей работе делаем упор на качество.
        //- 
         .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
    .row
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/crash.svg" alt="" width="128" height="128")
        h2 Выкуп авто на разбор
        p Уудобное и выгодное решение для автовладельцев, желающих сдать свой автомобиль, не подлежащий восстановлению после аварии, на утилизацию и получить при этом максимально возможную денежную компенсацию.
        //-
         .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/assurance.svg" alt="" width="128" height="128")
        h2 Гарантия
        p Залогом качественной работы служит гарантия. При необходимости вы сможете осуществить возврат запчасти, в течении 7-ми дней после покупки, в состоянии на момент покупки.
        //-
         .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »

      .col-lg-4.d-flex.flex-column
        .justify-content-center
          img(src="/images/catalog.svg" alt="" width="128" height="128")
        h2 Каталог
        p В работе...
        .row.flex-grow-1.pb-2
          .col.d-flex.align-items-end.justify-content-center
            a.btn.btn-primary(href="#" role="button") Подробнее »

  section.container.my-4
    h2.display-4 Каталог
    include includes/catalog.pug
  
  section.container.my-4
    h2.display-4 Карта проезда
    include includes/map.pug
  
  include includes/footer.pug

