extends layout

block content

  //- Header with Background Image
  header
    .jumbotron-fluid.business-header
      .jumbotron-fluid.background-filter
        .container
          .row
            .col-lg-12
              h1.display-3.text-center.text-white.mt-4 Запчасти для вашего автомобиля
              p.text-center
                button.btn.btn-primary.btn-lg(type="button") Large button
  
  .container.my-4
    ol.breadcrumb
      li.breadcrumb-item
        a(href="#") Home
      li.breadcrumb-item
        a(href="#") Library
      li.breadcrumb-item.active Data

  //- Jumbotron Header
  .container
    section.jumbotron.my-4
      h1.display-3 A Warm Welcome!
      p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
      a.btn.btn-primary.btn-lg(href="#") Call to action!

    h1= title
    p Welcome to #{title}
    p Добро пожаловать в #{title}

  .jumbotron-fluid
    section
      include map.html
