extends layout

block content

  //- Header with Background Image
  header.business-header
    section.container
      .row
        .col-lg-12
          h1.display-1.text-center.text-white.mt-4 Запчасти для вашего автомобиля
          p.text-center
            button.btn.btn-primary.btn-lg(type="button") Large button
  
  section.container.my-2
    ol.breadcrumb
      li.breadcrumb-item
        a(href="#") Home
      li.breadcrumb-item
        a(href="#") Library
      li.breadcrumb-item.active Data

  section.container
    .jumbotron
      h1.display-3 A Warm Welcome!
      p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
      a.btn.btn-primary.btn-sm(href="#") Call to action!

  section.container.text-center
    .row
      .col-lg-4
        img(src="/images/tools.svg" alt="" width="128" height="128")
        h2 Heading
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      .col-lg-4
        img(src="/images/engine.svg" alt="" width="128" height="128")
        h2 Heading
        p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      .col-lg-4
        img(src="/images/lift.svg" alt="" width="128" height="128")
        h2 Heading
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .row
      .col-lg-4
        a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4
          a.btn.btn-primary(href="#" role="button") Подробнее »
      .col-lg-4
          a.btn.btn-primary(href="#" role="button") Подробнее »

  section.container
    h1= title
    p Welcome to #{title}
    p Добро пожаловать в #{title}

  section.container.my-2
    include includes/map.pug
  
  include includes/footer.pug

