doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author" content="")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        a.navbar-brand(href="#") Start Bootstrap
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            -var activeNavItem = 'active'
            li.nav-item(class = (activeView === 'index' ? activeNavItem : ''))
              a.nav-link(href="/") Home
                span.sr-only (current)
            li.nav-item(class = (activeView === 'catalog' ? activeNavItem : ''))
              a.nav-link(href="/catalog") Каталог
            li.nav-item(class = (activeView === 'service' ? activeNavItem : ''))
              a.nav-link(href="/service") Сервис
            li.nav-item(class = (activeView === 'contacts' ? activeNavItem : ''))
              a.nav-link(href="/contacts") Контакты

    .block-content
      block content
    
    footer.bg-primary
      .container-fluid.text-white
        .row
          .col.m-4
            h3 Контакты
            p 
              | 220089, г.Минск, пр-т Дзержинского, 57, 8 этаж
              br 
              | Отдел продаж: +375 (17) 239-57-02 
              br
              | Техническая поддержка: +375 (17) 239-57-03 
              br 
              | Факс: +375 (17) 239-57-20
            p
              a(href="#") Все контакты
              br
              a(href="#") Написать письмо
          .col.m-4
            p qwerty
          .col.m-4
            p asdf

    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")

  //-
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")

