doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="Разборка автомобилей в Гомеле на Лепешинского")
    meta(name="keywords", content="разборка автомобилей а гомеле на лепешинского, гомель, купить и установить новую или б/у запчасть, поставить запцацку, разобрать ауди, мерседес бенц, фольксваген, фиат, выкуп старых авто на разбор, запчасти для автомобилей новые и бу, контрактные запцацки, продажа и установка запчастей на автомобиль, автомобили и запчасти в наличии и под заказ на лепешинке, audi, mercedes benz, mersedes, fiat, volkswagen автохлам, автолом, старое дырявое ведро, убитая машина, покупка автохлама и автолома, продать старую или убитую машину на разборку, красное, красненцы, коты из красного, афоня игорь, вова кот, купля аварийной автомашины, продать автомобиль после аварии")
    meta(name="author" content="AK")
    title= title
    //-
     link(rel='preload', href='/stylesheets/style.css', as='style', onload="this.rel='stylesheet'")
    link(rel='stylesheet', href='/stylesheets/style.css')

    // For IE 9 and below. ICO should be 32x32 pixels in size.
    // [if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]

    // Touch Icons - iOS and Android 2.1+ 180x180 pixels in size.
    link(rel="apple-touch-icon-precomposed", href="/images/apple-touch-icon-precomposed.png")

    // Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size.
    link(rel="icon", href="/images/favicon.png")
  body
    include includes/navbar.pug
    block content
    
    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    
    block scripts

  //-
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")

