//- Редактирование пользователя
extends layout

block content

  .container
    .row
      .col-sm-3
      .col-sm-6
        h2.my-4 Вход на сайт
        form.needs-validation(method="POST", action="/api/login", enctype="application/x-www-form-urlencoded")
          .row.form-group.mb-3
            label.col-md-3.col-form-label(for="username") Логин
            .col-md-9
              input#username.form-control(type="text" name="name" aria-describedby="usernameHelp" placeholder="Введите логин" required)
              small#usernameHelp.form-text.text-muted Имя пользователя которое было зарегистрировано ранее.
          .row.form-group.mb-3
            label.col-md-3.col-form-label(for="password") Пароль
            .col-md-9
              input#password.form-control(type="password", name="password")
          hr.mb-4
          button.btn.btn-primary.btn-lg.btn-block.mb-4(type="submit") Вход
      .col-sm-3
