//- Редактирование пользователя
extends layout

block content

  .container
    .row
      .col-sm-2
      .col-sm-8
        h2.my-4 Вход на сайт
        form.needs-validation(method="POST", action="/admin/login", enctype="application/x-www-form-urlencoded")
          .row.form-group.mb-3
            .col-md-3
              label.col-form-label(for="username") Логин
            .col-md-9
              input#username.form-control(type="text" name="name" aria-describedby="usernameHelp" placeholder="Введите логин" required)
              small#usernameHelp.form-text.text-muted Имя пользователя.
          .row.form-group.mb-3
            .col-md-3
              label.col-form-label(for="password") Пароль
            .col-md-9
              input#password.form-control(type="password", name="password")
          hr.mb-4
          button.btn.btn-primary.btn-lg.btn-block.mb-4(type="submit") Вход
      .col-sm-2
