//- Редактирование элемента каталога
extends layout

block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item
          a(href="/admin/catalog") Редактирование католга
        li.breadcrumb-item.active #{title}

  .container
    h2 Редактирование элемента каталога
    p.lead Заполните карточку запчасти.

    .row
      .col-md-8.order-md-1
        form#input-form.needs-validation(method="POST", action=(editProduct ? "/admin/catalog/update" : "/admin/catalog"), enctype="application/x-www-form-urlencoded", novalidate)
          input(type="hidden", value=(editProduct ? editProduct._id : ''), name="id")
          input(type="hidden", value=user, name="user")
          input(type="hidden", value="-1", name="defaultPhotoIndex", id="default-photo-index")
          .form-group.mb-3
            label(for="carModel") Модель автомобиля
            select#carModel.form-control(aria-describedby="carModelHelp" placeholder="Модель автомобиля" name="carModel")
              - var carModelId = (editProduct && editProduct.model ? editProduct.model._id : null)
              each carModel, index in carModels
                option(value = carModel, selected= (carModel._id == carModelId ? true : false) )= carModel.fullName
            //-
             small#carBrandHelp.form-text.text-muted Имя пользователя по которому осуществляется вход на сайт.
          .form-group.mb-3
            label(for="issueYear") Год выпуска 
            select#issueYear.form-control(aria-describedby="issueYearHelp" placeholder="Год выпуска" name="issueYear" data-issueyear=(editProduct ? editProduct.year : null))
            .invalid-feedback Введите коректный год выпуска.
          .form-group.mb-3
            label(for="engine") Модель двигателя 
              span.text-muted (не обязательно)
            input#engine.form-control(type="text", placeholder="1.9 CDI", name="engine", value=(editProduct ? editProduct.engine : null))
          .form-group.mb-3
            label(for="name") Название запчасти 
            input#name.form-control(type="text", name="name", value=(editProduct ? editProduct.name : null))
          .form-group.mb-3
            label(for="responsible") Ответственный 
              span.text-muted (не обязательно)
            input#responsible.form-control(type="text", placeholder="Игорь, +375(29)693-09-36‬" name="responsible", value=(editProduct ? editProduct.responsible : null))
          .form-group.mb-3
            label(for="description") Описание
            textarea#description.form-control(name="description", rows='6')= editProduct ? editProduct.description : ''

      .col-md-4.order-md-2.mb-4
        h4.d-flex.justify-content-between.align-items-center.mb-3
          span.text-muted Фото
          label.btn.btn-primary(for="photoFileSelector") Добавить
            input#photoFileSelector(type="file", accept="image/*", hidden, style="display:none", onchange="addPhoto(this.files)")
            //-
             input#photoFileSelector(type="file", accept="image/*", hidden, style="display:none", onchange="$('#upload-file-info').html(this.files[0].name)")
        //-
         span.label.label-info(id="upload-file-info")

        #photoList.ul.list-group.mb-3
          //-
          li.list-group-item.d-flex.justify-content-between.lh-condensed
            div#photo-place  
              //--
                h6.my-0 Product name
                small.text-muted Brief description

            span.text-muted $12
    .row
      .col
        hr.mb-4
    .row
      .col-md-3
      .col-md-6
        button.btn.btn-primary.btn-lg.btn-block.mb-4(type="submit") Сохранить элемент каталога
      .col-md-3
      
block scripts
  //-
   script(src="/fotorama-4.6.4/fotorama.js")

  script.
    function deletePhoto(fileName) {
      var thumb = document.createElement('thumb_' + fileName);
      if(thumb != null) {
        thumb.remove();
      }
      var photo = document.createElement('photo_' + fileName);
      if(photo != null) {
        photo.remove();
      }
    }
    
    function addPhoto(files) {
      for (var i = 0, f; f = files[i]; i++) {
        if (!f.type.match('image.*')) continue;
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.id = 'thumb_' + theFile.name;
            span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
            document.getElementById('photo-place').append(span);

            var inputPhoto = document.createElement('input');
            inputPhoto.id = 'photo_' + theFile.name;
            inputPhoto.type = 'hidden';
            inputPhoto.name = 'photo'
            inputPhoto.id = theFile.name;
            inputPhoto.value = e.target.result;

            document.createElement('span')('input-form').append(inputPhoto);

            //document.getElementById('photo-place').insertBefore(span, null);
          };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }
    
    function setIssueYears() {
      let issueYear = $('#issueYear').data('issueyear');
      $('#issueYear').empty();
      let selectedCarModel = JSON.parse($('#carModel').val());
      if(selectedCarModel) {
        let maxYear = selectedCarModel.finishYear ? selectedCarModel.finishYear : (new Date).getFullYear();
        for(let year = selectedCarModel.startYear; year <= maxYear; year++) {
          $('#issueYear').append($('<option>', { value : year, selected : (issueYear == year ? true : false) }).text(year));
        }
      }
    }    

    $('#carModel').on('change', () => {
      setIssueYears();
    });

    $(document).ready( () => {
      setIssueYears();
    });

    //$(window).load(function() {
    //   alert("window load occurred!");
    //});