//- Просмотр элемента каталога
extends layout

block head
  link(rel='stylesheet', href='/fotorama/fotorama-4.6.4.min.css')
  
block content
  header
    .container.my-2
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Главная
        li.breadcrumb-item
          a(href="/catalog") Каталог
        li.breadcrumb-item.active #{title}

  section.container.mb-2
    .row
      .col-md-6  
        .fotorama(data-width="100%" data-ratio="3/2" data-nav="thumbs" data-thumbheight="48")
          each image, index in product.images
            a(href= '/files/' + image.full)
              img(src= '/files/' + image.thumb)
      .col-md-6
  
  include includes/footer.pug

block scripts
  script(src="/fotorama/fotorama-4.6.4.min.js")

