//$font-family-sans-serif:      'Neucha', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//$web-font-path: "https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch";

@import "bootswatch/sandstone/variables";
@import "bootstrap/bootstrap";
@import "bootswatch/sandstone/bootswatch";

.business-header {
  //height: 30vh;
  min-height: 300px;
  background: 
    linear-gradient(
      rgba($gray-800, 1), 
      rgba($gray-300, 0.7)
    ), 
    url('/images/audia5frontangle.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: block;
}

.block-content {
  min-height: 70vh;
}

.card {
  height: 100%;
}
