//$font-family-sans-serif:      'Neucha', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//$web-font-path: "https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch";

@import "bootswatch/sandstone/variables";
@import "bootstrap/bootstrap";
@import "bootswatch/sandstone/bootswatch";

@include media-breakpoint-up(xs) {
  .display-1 { font-size: $display1-size * 0.5; }
  .display-2 { font-size: $display2-size * 0.5; }
  .display-3 { font-size: $display3-size * 0.5; }
  .display-4 { font-size: $display4-size * 0.5; }
}

@include media-breakpoint-up(sm) {
  .display-1 { font-size: $display1-size * 0.65; }
  .display-2 { font-size: $display2-size * 0.65; }
  .display-3 { font-size: $display3-size * 0.65; }
  .display-4 { font-size: $display4-size * 0.65; }
}

@include media-breakpoint-up(md) {
  .display-1 { font-size: $display1-size * 0.8; }
  .display-2 { font-size: $display2-size * 0.8; }
  .display-3 { font-size: $display3-size * 0.8; }
  .display-4 { font-size: $display4-size * 0.8; }
}

@include media-breakpoint-up(lg) {
  .display-1 { font-size: $display1-size * 0.95; }
  .display-2 { font-size: $display2-size * 0.95; }
  .display-3 { font-size: $display3-size * 0.95; }
  .display-4 { font-size: $display4-size * 0.95; }
}

.business-header {
  //height: 30vh;
  min-height: 300px;
  background: 
    linear-gradient(
      rgba($dark, 1), 
      rgba($light, 0.7)
    ), 
    url('/images/audia5frontangle.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: block;
}

/*
.block-content {
  min-height: 70vh;
}
*/

.flex-fill {
  flex:1 1 auto;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/materials/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/materials/MaterialIcons-Regular.woff2') format('woff2'),
       url('/materials/MaterialIcons-Regular.woff') format('woff'),
       url('/materials/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  color: $primary; //$body-color;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.success { color: $success; }
.material-icons.danger { color: $danger; }
.material-icons.white { color: $white; }

.contact { 
  font-size: $font-size-lg;
  vertical-align: middle;
  text-align: center;
}

